<!-- Gitment Comment BEGIN -->
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: '<%= page.date %>',
  owner: 'mrlmj',
  repo: 'mrlmj.github.io',
  oauth: {
    client_id: '82512283ee5db30a4ab7',
    client_secret: '70b91a1d021f467ff0597854ec17f13f7fa41a20',
  },
})
gitment.render('container')
</script>
<!-- Gitment Comment END -->
